<h1><%= t("title.choose_products") %></h1>

<%= form_tag('cart', method: :post)  do %>
  <table>
    <thead>
      <tr>
        <th><%= t("column.product_number") %></th>
        <th><%= t("column.product_name") %></th>
        <th><%= t("column.unit_price") %></th>
        <th><%= t("column.image") %></th>
        <th><%= t("column.description") %></th>
        <th><%= t("column.check") %></th>
        <th><%= t("column.quantity") %></th>
      </tr>
    </thead>
    <tbody>
      <% @product.each_with_index do |product, idx| %>
        <tr>
          <td><%= product.number %></td>
          <td><%= product.name %></td>
          <td  class="right_shift"><%= number_with_delimiter product.unit_price.round %></td>
          <% if product.image.present? %>%
            <td><%= image_tag product.image.url %></td>
          <% else %>
            <td><%= image_tag "default_product.png" %></td>
          <% end %>
          <td><%= product.description %></td>
          <td><%= check_box_tag :product_id, product.id ,checked=false %></td>
          <td><%= number_field_tag :quantity,params[:quantity] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag("注文") %>
  <div>
  <%= link_to "ログアウト", sign_out_path, method: :delete %>
  </div>
<% end %>
