<!-- ユーザーに確認してもらうための表示です -->
<% @cart_items.each do |cart| %>
  <%= cart.product.name %> <!-- 商品名 -->
  <%= cart.product.unit_price %>　<!-- 金額 -->
  <%= cart.quantity %> <!-- 個数 -->
  <%= cart.product.unit_price*cart.quantity %> <!-- 小計 -->
<% end %>
<p>ご請求金額</p>
<%= @total %> <!-- お買い物の合計金額 -->
<p>お届け先</p>
<%= @order.order_address %>

<!-- ユーザーには注文確定ボタンだけ表示します -->
<%= form_with model: @order, url: orders_path, local: true do |f| %>
  <%= f.hidden_field :order_name %>
  <%= f.hidden_field :order_address %>
  <%= f.hidden_field :total_price, value: @total %>
  <%= f.submit "注文を確定する" %>
<% end %>
