<p style="color: green"><%= notice %></p>

<h1>Addresses</h1>

<%= react_component("Address", { addresses: @addresses }) %>

<div>
  <%= link_to "新規追加", new_address_path %>
</div>
<div>
  <%= link_to "CSV出力",addresses_path(format: :csv) %>
</div>
<div>
  <%= link_to "ログアウト", sign_out_path, method: :delete %>
</div>
