<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Show this product", product %>
    </p>
  <% end %>
</div>
<%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>
<%= link_to "New product", new_product_path %>
<div>
  <%= link_to "ログアウト", sign_out_path, method: :delete %>
</div>
